@font-face {
    font-family: 'univers_47';
    src: url('/fonts/univ47-webfont.eot');
    src: url('/fonts/univ47-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/univ47-webfont.svg#univers_47_lightcond47LtCn') format('svg'), url('/fonts/univ47-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'dinregular';
    src: url('/fonts/dinr52-webfont.eot');
    src: url('/fonts/dinr52-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/dinr52-webfont.svg#dinregular') format('svg'), url('/fonts/dinr52-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinlight';
    src: url('/fonts/dinl48-webfont.eot');
    src: url('/fonts/dinl48-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/dinl48-webfont.svg#dinlight') format('svg'), url('/fonts/dinl48-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinbold';
    src: url('/fonts/din-bold-webfont.eot');
    src: url('/fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/din-bold-webfont.svg#dinbold') format('svg'), url('/fonts/din-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




.fundo.tratransparencia{
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.fundo {
    background: url("https://i.imgsafe.org/17d3befffc.jpg");
}
.col-md-4.text-center .box:hover {
    background: #f7f8f2;
    color: #fafbf5;
}

.transparencia {
    font-family: 'dinlight';
    padding-top: 0px;
    padding-bottom: 70px;


}





.transparencia p {
    font-size: 18px ;
    line-height: 22px;
    margin: 20px 0;
    font-weight: 600;
}

.itens-transparencia {
    font-family: 'dinlight';
    height: 287px;
}



.itens-transparencia li.btn {
    width: 100%;
    border-radius: 0;
    font-size: 16px;
}

.transparencia .btn-primary {
    color: #fff;
    background-color: #ff6600;
    // background-color: #b6ba8d;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
/*    font-size: 30px;*/
    letter-spacing: 0.5px;
    min-height: 48px !important;
}

.transparencia .btn-primary:hover, .transparencia .btn-primary:active, .transparencia .btn-primary:focus   {
    color: #fff;
    background-color: #d44100;
    border: none;
}

i.fa.fa-plus-circle {
    font-size: 30px;
    margin-top: 3px;
}

.transparencia ul,.transparencia ol {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    -webkit-padding-start: 0px;
}



.meses i.fa.fa-file-pdf-o {
    /*background: #f0f;*/
    padding: 5px 10px;
    border-bottom: solid;
}

.meses i.fa.fa-file-pdf-o:hover {
    background: #253255;
    padding: 5px 10px;
    border-bottom: solid;
}



.transparencia ul li a {
    color: #7d824f;
    text-decoration: none;
    font-weight: 600;
}

.transparencia ul li a:hover{
    color: #f4f6e8;
}
.transparencia li:hover a {
    color: #f4f6e8;
}

.transparencia ul li.btn{
    color: #7d824f;
    text-decoration: none;
    font-weight: 600;
}

.transparencia ul li:hover .btn{
    color: #ffffff;
}

.transparencia li {
    background: #fff;
    margin-bottom: 5px;
    padding: 7px 0;
}


.transparencia li:hover {
    background-color: #253255 ;
    color: #fff !important;
}






.transparencia .introducao h3 {
    margin-top: 0;
    padding-top: 0;
    color: #1d2d52;
    text-transform: initial;
    font-family: 'univers_47';
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 22px;
}


.transparencia .introducao p {
    font-size: 16px !important;
    line-height: 22px;
    margin: 20px 0;
    font-weight: 600;
}





.tag-icon {
    margin:0px;
    max-width: 110px;
}

.tag-icon-interna {
    margin:15px 0 30px 0;
    max-height: 60px;
    margin-right: 20px;
}


.interna .box{
    display: table;
}

.box {
  background:#e9ead7;
  transition:all 0.2s ease;
  border:3px solid #b7ba8f;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  background-clip: padding-box;
  padding:5px ;
/*  display: table;*/
}

.box:hover {
  border:3px solid #9ea74a;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
  padding: 0 px;
  border-radius: 0 0 0px 0px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box .box-content p {
  color:#515c66;
  text-transform:none;
}


.icones-tranparencia {
    background: #b7ba8f;
    margin-bottom: 5px;
    margin-top: 5px;
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}




.btn-blue {
    background:#212e52;
    color: #ffffff;
    margin-top: 5px;
}

.btn-blue:hover {
    background:#344983;
    color: #ffffff;
}



a.btn.btn-block.btn-primary.voltar {
    font-size: 20px;
    padding: 5px 0 0 0 !important;
    line-height: 2;
    margin-top: 50px;
}




.intro01 {
    background: #ec6629;
    color: #fff;
    padding: 20px 40px;
}



.intro2 {
    background: #fff;
    padding: 20px 30px;
    margin: 20px 0;
}


.transparencia .panel-default {
    border-color: #b7ba8f;
}

.transparencia .panel-default>.panel-heading {
    background: #b7ba8f;
}

.transparencia .panel-heading h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.transparencia  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
    min-height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #e9ead7;
}

.transparencia .accordion li{
    font-weight: 600;
    text-transform: uppercase;
}

.transparencia .accordion li:hover {
    background-color: #dcddbe;
    color: #253255;
}

.transparencia .accordion li:hover a {
    color: #253255;
}

.transparencia .accordion li .btn {
    background: #b7ba8f;
    color: #ffffff;
    text-transform: none;
}

.transparencia .accordion li .btn:hover {
    background: #253255;
    color: #ffffff;
}

/******* LINHA MÊS **********/
.row.linha-mes {
    margin: 0 35px 3px 35px;
    line-height: 2.2;
    font-weight: 600;
}

.row.linha-mes:hover .mes-label{
    background: rgba(255, 255, 255, 0.9);
}

.mes-label {
    background: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}

.row.linha-mes  .btn {
    background: #b7ba8f;
    color: #ffffff;
    text-transform: none;
    border-radius: 0;
}

.transparencia .accordion .row.linha-mes .btn:hover {
    background: #253255;
    color: #ffffff;
}
/******* FIM LINHA MÊS **********/




p.atualizado-ate {
    margin-top: -10px;
}



/******* LINHA QUADRIMESTRE **********/
.row.linha-quadrimestre {
    margin: 0 35px 8px 35px;
    line-height: 1;
    font-weight: 600;
}


.quad-label {
    background: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    padding: 10px 0;
}

.row.linha-quadrimestre:hover .quad-label{
    background: rgba(255, 255, 255, 0.9);

}



.transparencia .accordion .row.linha-quadrimestre  .btn {
    background: #b7ba8f;
    color: #ffffff;
    text-transform: none;
    border-radius: 0;
    padding: 15px 20px;
    margin-right: 5px;
}

.transparencia .accordion .row.linha-quadrimestre .btn:hover {
    background: #253255;
    color: #ffffff;
}
/******* FIM LINHA QUADRIMESTRE **********/


span.quadrimeste {
    text-transform: lowercase;
    font-size: 80%;
    clear: left;
}






.tag-title {
    color: #fff !important;
    background: #1d2d52;
    padding: 10px 0 ;
    /*min-height: 70px;*/
    border-bottom: solid #ec6629 2px;
}

.row.head h3.tag-title{
    padding: 10px 0 ;
    margin-bottom: 2px;
}

.box .box-content h3.tag-title{
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 20px;
}

h4 {
    font-weight: 600;
    /*text-transform: uppercase;*/
}


.box-content-item {
    margin: 40px 0;
}


.grafico-box {
    background: #ffffff;
    border-bottom: solid #D7D8D2 ;
}

.graficos-desc{
    margin: 5px 25px;
}





.panel-group .panel {
    border-radius: 0px;
}
.panel-heading {
    border-radius: 0px;
}



span.label-dowload-tipo {
    font-family: dinlight;
    font-weight: 900;
    margin-left:5px;
}

.fonteazul {
    color: #25427F !important;
}



.atodaalerj{
    text-align: left;
    margin: 20px;
}

.atodaalerj .numerodoartigo{
    font-weight: 900;
    font-size: 110%;

}

.atodaalerj .data {
    margin: 10px 20px;
    font-weight: 600;

}

.transparencia .atodaalerj  ul {
    list-style-type: circle;
    margin: 10px 20px;
}

.transparencia .atodaalerj  li {
    background: none;
    margin-bottom: 5px;
    padding: 7px 0;
}

.transparencia .atodaalerj li:hover {
    color: inherit;
}

.transparencia .atodaalerj .deputados {
    margin: 40px 30px;
}

.transparencia .atodaalerj .deputados p {
    line-height: 5px;
}







.col-xs-2.refresh-cache.pull-right {
    padding-top: 30px;
}

.col-xs-2.refresh-cache.pull-right i.fa.fa-refresh {
    color: #1d2d52 ;
    font-size: 40px;
}

.col-xs-2.refresh-cache.pull-right i.fa.fa-refresh:hover {
    color: #535E7F;
}





/*---------------Titulo Tranparencia --------------------------*/

.titulo-portal {
    background: #1d2d52 !important;
}

h1 {
    color: #fff;
    line-height: 1.1;
    font-size: 52px;
    text-transform: uppercase;
    padding-top: 26px;
}


h2 {
    font-size: 22px;
    margin-top: 0;
    padding-top: -4;
    margin-bottom: 10px;
    color: #ffffff;
    background: #1d2d52;
    text-transform: initial;
    font-family: 'univers_47';
    font-weight: 300;
    text-transform: uppercase;
}


h2.subtitle-home {
    background: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #ec6629 ;
    font-family: 'univers_47';
    font-size: 38px;
    margin-top: 30px;
}

h3{
    font-weight: 600;
    text-transform: uppercase;
    color: #ec6629 ;
    font-family: 'univers_47';
    font-size: 38px;
}
.transparencia .introducao h3.subtitle-home {
    font-size: 22px;
}

/*---------------FIM Titulo Tranparencia --------------------------*/






p.form-intro {
    font-size: 26px !important;
    text-align: center;
    line-height: 1.3;
    margin-top: 40px;
}

.row.form-botoes {
    margin: 30px 0 50px;
}

.form-botoes i.fa {
    font-size: 24px;
    padding-top: 6px;
    margin-right: 10px;
}

.form-botoes a.btn.btn-primary {
    font-size: 20px;
}


.form-botoes .btn-primary {
    background: #1d2d52 !important;
}

.form-botoes .btn-primary:hover {
    background: #334263 !important;
}



.protocolo button.btn.btn-primary.btn-block {
    font-size: 20px;
}
.protocolo i.fa.fa-desktop {
    font-size: 18px;
}



@media only screen and (max-width: 1016px) {

}
@media only screen and (max-width: 836px) {
/*    .row.faq {
        margin: 10px 10px !important;
        padding: 10px 0px !important;
    }*/


    .rates.quadroremuneratorio .row > div:first-child {
        min-width: inherit  !important;;
    }


}
@media only screen and (max-width: 496px) {

    h1 {
        color: #fff;
        line-height: 0.8;
        font-size: 16px;
        padding-top: 12px;
    }

    .transparencia .introducao h3.subtitle-home {
        font-size: 14px;
        margin-bottom: 5px ;
    }
    h2.subtitle-home {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 18px;
    }



    .intro01 {
        padding: 10px 15px;
    }
    .intro2 {

        padding: 10px 15px;
        margin: 10px 0;
    }
    .transparencia .introducao p {
        font-size: 12px !important;
        line-height: 1.3;
        margin: 0;
        font-weight: 600;
    }

    .box-content-item {
        margin: 15px 0;
    }

/*    .row.faq {
        margin: 10px 10px !important;
        padding: 10px 0px !important;
    }*/
    .row.faq h4 {
        font-size: 13px;
    }
    .row.faq p {
        font-size: 13px !important;
        line-height: 1.3 !important;
        margin-top: 5px !important;
    }

    .form-botoes a.btn.btn-primary {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .form-botoes i.fa {
        font-size: 18px;
        padding-top: 0px;
        margin-right: 10px;
    }
    .transparencia .atodaalerj li {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 0px;
        padding: 4px 0;
    }

    .transparencia .atodaalerj .deputados {
        margin: 15px 0 0 0;
    }
    .transparencia .atodaalerj .deputados p {
        line-height: 1.3 !important;
        margin: 10px 0 0 0 !important;
    }


    .rates .row > div .item {
        font-size: 12px;
        height: 60px;
    }

    .graficos-desc {
        margin: 5px 5px 0 5px;
    }
    .graficos-desc p {
        margin-bottom: 0;
    }


    .mes-label {
        margin-bottom: 10px;
        padding: 4px 0 2px 0;
        font-size: 14px;
    }
/*    .row.linha-mes {
        margin: 0 15px 25px 15px;
        line-height: 2.2;
        font-weight: 600;
        border: solid rgba(255, 255, 255, 0.4) 2px;
        padding-bottom: 10px;
    }*/

    .row.linha-mes {
        margin: 0px;
        line-height: 2.2;
        font-weight: 600;
        border-bottom: solid rgba(255, 255, 255, 0.4) 0px;
        padding-bottom: 0px;
    }

    .tipos-downloads {
        padding-left: 0;
        padding-right: 0;
    }

    span.label-dowload-tipo {
        font-family: dinlight;
        font-weight: 900;
        margin-left: 5px;

    }



    a.btn.btn-block.btn-primary.voltar {
        font-size: 16px;
        padding: 13px 0 10px 0 !important;
        line-height: inherit;
        margin-top: 20px;
        min-height: inherit !important;
    }

    .protocolo button.btn.btn-primary.btn-block {
        font-size: 16px;
    }
    .protocolo i.fa.fa-desktop {
        font-size: 14px;
    }

    .col-xs-2.refresh-cache.pull-right {
        padding-top: 10px;
    }

    .col-xs-2.refresh-cache.pull-right i.fa.fa-refresh {
        color: #1d2d52 ;
        font-size: 20px;
    }


}

textarea {
    width: 100%;
    padding: 20px 0px 20px 14px !important;
    margin: 10px 40px 19px 0px;
    font-size: 2.5em !important;
    font-weight: normal;
    resize: none;
    white-space: nowrap;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
    opacity: 0.15;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    opacity: 0.15;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #000000;
    opacity: 0.15;
}
:-moz-placeholder { /* Firefox 18- */
    color: #000000;
    opacity: 0.15;
}

.protocol-answer-row {
    margin-top: 20px !important;
    line-height: 1.4em !important;
}

.bold {
    font-weight: 800;
}



.menu_select li {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 900;
}

.menu_select li a{
    color:#1d2d52 ;
}



@media only screen and (max-width: 496px){
    .menu_movel .controle .menu_select .icone {
        display: none;
    }
}



@media screen and (min-width: 1024px) and (max-width: 2560px){
    .superior .conteudo .coluna .redes_sociais {
        right: 711px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1920px){
    .superior .conteudo .coluna .redes_sociais {
        right: 371px !important;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1680px){
    .superior .conteudo .coluna .redes_sociais {
        right: 267px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .superior .conteudo .coluna .redes_sociais {
        right: 148px !important;
    }
}

/*********  AJUSTES RESPONSIVO CABEÇALHO ALERJ ***************************/


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .col-xs-12{
        padding-right: 0px;
        padding-left: 0px;
    }

}



/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .superior .conteudo .logotipo {
        width: 130px;
        height: 65px;
        float: left;
        overflow: hidden;
        margin: 0px 0px 0px 0px;
        /* padding: 16px 0px 0px 0px; */
    }
    .superior .conteudo .coluna .redes_sociais {
        top: 40px;
        right: 0px;
        left: auto;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .col-xs-12{
        padding-right: 0px;
        padding-left: 0px;
    }
    .superior .conteudo .logotipo {
        width: 180px;
        height: 69px;
        float: left;
        overflow: hidden;
        margin: 0px 0px 0px 0px;
        /* padding: 16px 0px 0px 0px; */
    }
    .superior .conteudo .coluna .redes_sociais {
        top: 40px;
        right: 80px;
        left: auto;
    }
    h1 {
        font-size: 36px;
    }

}



/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .col-xs-12{
        padding-right: 0px;
        padding-left: 0px;
    }

}



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .superior .conteudo .logotipo {
        width: 130px;
        height: 65px;
        float: left;
        overflow: hidden;
        margin: 0px 0px 0px 0px;
        /* padding: 16px 0px 0px 0px; */
    }
    .superior .conteudo .coluna .redes_sociais {
        top: 40px;
        right: 0px;
        left: auto;
        margin-left: 20px;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    h1 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    .col-xs-12{
        padding-right: 0px;
        padding-left: 0px;
    }

}


.grafico001 {
    width: 100%;
}
