@font-face {
    font-family: 'univers_47';
    src: url('/fonts/univ47-webfont.eot');
    src: url('/fonts/univ47-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/univ47-webfont.svg#univers_47_lightcond47LtCn') format('svg'), url('/fonts/univ47-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'dinregular';
    src: url('/fonts/dinr52-webfont.eot');
    src: url('/fonts/dinr52-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/dinr52-webfont.svg#dinregular') format('svg'), url('/fonts/dinr52-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinlight';
    src: url('/fonts/dinl48-webfont.eot');
    src: url('/fonts/dinl48-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/dinl48-webfont.svg#dinlight') format('svg'), url('/fonts/dinl48-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinbold';
    src: url('/fonts/din-bold-webfont.eot');
    src: url('/fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/din-bold-webfont.svg#dinbold') format('svg'), url('/fonts/din-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




.fundo {
    background: url("https://i.imgsafe.org/17d3befffc.jpg");
}
.col-md-4.text-center .box:hover {
    background: #f7f8f2;
    color: #fafbf5;
}

.transparencia {
    font-family: 'dinlight';
    padding-top: 0px;
    padding-bottom: 70px;
}



.transparencia h2{
    font-weight: 600;
    text-transform: uppercase;
    color: #ec6629 ;
    font-family: 'univers_47';
    font-size: 38px;

}

.transparencia p {
    font-size: 18px ;
    line-height: 22px;
    margin: 20px 0;
    font-weight: 600;
}

.itens-transparencia {
    font-family: 'dinlight';
    height: 228px;
}



.itens-transparencia li.btn {
    width: 100%;
    border-radius: 0;
    font-size: 16px;
}

.transparencia .btn-primary {
    color: #fff;
    background-color: #ff6600;
    // background-color: #b6ba8d;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
/*    font-size: 30px;*/
    letter-spacing: 0.5px;
    min-height: 48px !important;
}

.transparencia .btn-primary:hover, .transparencia .btn-primary:active, .transparencia .btn-primary:focus   {
    color: #fff;
    background-color: #d44100;
    border: none;
}

i.fa.fa-plus-circle {
    font-size: 30px;
    margin-top: 3px;
}

.transparencia ul,.transparencia ol {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    -webkit-padding-start: 0px;
}

.transparencia li {
    background: #fff;
    margin-bottom: 5px;
    padding: 7px 0;
}


.transparencia li:hover {
    background-color: #253255 !important;
    color: #fff;
}


.meses i.fa.fa-file-pdf-o {
    /*background: #f0f;*/
    padding: 5px 10px;
    border-bottom: solid;
}

.meses i.fa.fa-file-pdf-o:hover {
    background: #253255;
    padding: 5px 10px;
    border-bottom: solid;
}



.transparencia ul li a {
    color: #7d824f;
    text-decoration: none;
    font-weight: 600;
}

.transparencia ul li a:hover{
    color: #f4f6e8;
}
.transparencia li:hover a {
    color: #f4f6e8;
}

.tag-title {
    color: #fff;
    background: #1d2d52;
    padding: 10px 0 ;
    /*min-height: 70px;*/
    border-bottom: solid #ec6629 2px;
}

/*---------------Titulo Tranparencia --------------------------*/

.container-full.titulo-portal.text-center {
    background: #1d2d52 !important;
}

.transparencia .titulo-portal h1 {
    color: #fff;
    line-height: 2.2;
    font-size: 52px;
}


/*---------------FIM Titulo Tranparencia --------------------------*/


.transparencia .introducao h3 {
    margin-top: 0;
    padding-top: 0;
    color: #1d2d52;
    text-transform: initial;
    font-family: 'univers_47';
    font-weight: 600;
    margin-bottom: 25px;
}


.transparencia .introducao p {
    font-size: 16px !important;
    line-height: 22px;
    margin: 20px 0;
    font-weight: 600;
}


.transparencia h3{
    font-family: 'univers_47';
    font-size: 22px;
    margin-top: 00px;
    margin-bottom: 0px;
}


.tag-icon {
    margin:0px;
    max-width: 110px;
}

.tag-icon-interna {
    margin:15px 0 30px 0;
    max-height: 60px;
    margin-right: 20px;
}


.interna .box{
    display: table;
}

.box {
  background:#e9ead7;
  transition:all 0.2s ease;
  border:2px solid #d1d5b0;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:5px ;
/*  display: table;*/
}

.box:hover {
  border:2px solid #9ea74a;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
  padding: 0 px;
  border-radius: 0 0 0px 0px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box .box-content p {
  color:#515c66;
  text-transform:none;
}


.icones-tranparencia {
    background: #b7ba8f;
    margin-bottom: 5px;
    margin-top: 5px;
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}




.btn-blue {
    background:#212e52;
    color: #ffffff;
    margin-top: 5px;
}

.btn-blue:hover {
    background:#344983;
    color: #ffffff;
}



a.btn.btn-block.btn-primary.voltar {
    font-size: 20px;
    padding: 5px 0 0 0 !important;
    line-height: 2;
    margin-top: 50px;
}




.intro01 {
    background: #ec6629;
    color: #fff;
    padding: 20px 40px;
}



.intro2 {
    background: #fff;
    padding: 20px 30px;
    margin: 20px 0;
}

