.tabelas h3{
    color: #ffffff;
}

.row.tabelas {
    margin: 30px;
}

.rates {
    width: 100%;
    font-size: 12px;
    color: #253255;
    margin-top:20px;
    font-weight: 600;
}

.rates .row:nth-of-type(odd){
    background: #dcddbe;

}

.rates .row:nth-of-type(even){
    background: #f7f8f2;
}

.rates .row:first-child > div {
    border-top: 2px solid #b7ba8f;
}

.rates .row > div {
    display: table;
    padding: 0 4px;
    border-right: 2px solid #b7ba8f;
    border-bottom: 2px solid #b7ba8f;
    text-align: center;
}

.rates .row > div .item {
    height: 110px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
}

.rates .row > div:first-child {
    border-left: 2px solid #b7ba8f;
    text-align: left;
    min-width: 119px;
}

.rates .row > div:last-child {
    /*text-align: right;*/
}

.rates .row.head > div {
    height: 20px;
    text-align: center;
}

.rates .row.head > div {
    height: 20px;
    text-align: center;
}

.rates .row.primeiralinha > div {
    background: #b7ba8f;
}
.rates .row.head > div:first-child {
    border: solid 2px #b7ba8f;
    background-color: #b7ba8f;
    padding-top: 16px;
}

.rates .row.head span {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.rates .row.head .form-btn {
    display: block;
}

.rates .row.head .form-btn a {
    display: inline-block;
    margin-top: 14px;
    padding: 0 6px;
    border: 2px solid #b7ba8f;
    border-radius: 10px;
}
.rates .col-xs-3.col-sm-4.text-right {
    text-align: right !important;
}

.rates .col-xs-3.col-sm-6.text-center {
    text-align: center !important;
}

.perguntas h4 {
    border-bottom: solid 2px;
    margin: 25px 10px;
}






.row.faq {
    text-align: left;
    padding-bottom: 20px;
    margin: 20px 10px;
    border: 1px solid #212e52;
    border-radius: 10px;
    padding: 20px 30px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.38);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.38);
}

.row.faq h4 {
    color: #ff6600 ;

}

.row.faq p {
    font-size: 95%;
/*    margin: 0 32px 10px;*/
}






@media (min-width: 768px) {
    .rates {
        font-size: 16px;
    }
    .rates .row > div {
        padding: 0 15px;
    }
    .rates .row > div .item {
        height: 55px;
    }
    .rates.tabelamaior .row > div .item {
        height: 80px;
    }
    .rates .row.head > div {
        height: 70px;
    }
    .rates .row.head span {
        font-size: 20px;
    }
    .rates .row.head .form-btn a {
        padding: 0 10px;
    }
}