.tabelas h3{
    color: #ffffff;
}

.row.tabelas {
    margin: 30px;
}

.rates {
    width: 100%;
    font-size: 12px;
    color: #253255;
    margin-top:20px;
    font-weight: 600;
}

.rates .row:nth-of-type(odd){
    background: #dcddbe;

}

.rates .row:nth-of-type(even){
    background: #f7f8f2;
}

.rates .row:first-child > div {
    border-top: 2px solid #b7ba8f;
}

.rates .row > div {
    display: table;
    padding: 0 4px;
    border-right: 2px solid #b7ba8f;
    border-bottom: 2px solid #b7ba8f;
    /*text-align: center;*/
}

.rates .row > div .item {
    height: 110px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
}

.rates .row > div:first-child {
    border-left: 2px solid #b7ba8f;
    /*text-align: left;*/
    /*min-width: 119px;*/
}

.rates .row > div:last-child {
    /*text-align: right;*/
}

.rates .row.head > div {
    height: 20px;
    text-align: center;
}

.rates .row.head > div {
    height: 20px;
    text-align: center;
}

.rates .row.primeiralinha > div {
    background: #b7ba8f;
}
.rates .row.head > div:first-child {
    border: solid 2px #b7ba8f;
    background-color: #b7ba8f;
    padding-top: 16px;
}

.rates .row.head span {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.rates .row.head .form-btn {
    display: block;
}

.rates .row.head .form-btn a {
    display: inline-block;
    margin-top: 14px;
    padding: 0 6px;
    border: 2px solid #b7ba8f;
    border-radius: 10px;
}
.rates .col-xs-3.col-sm-4.text-right {
    text-align: right !important;
}

.rates .col-xs-3.col-sm-6.text-center {
    text-align: center !important;
}

.perguntas h4 {
    border-bottom: solid 2px;
    margin: 25px 10px;
}






.row.faq {
    text-align: left;
    padding-bottom: 20px;
    margin: 20px 10px;
    border: 1px solid #a8ab76;
    border-radius: 10px;
    padding: 20px 30px;
    background: #fff;
    -webkit-box-shadow: 5px 5px 1px 0px rgba(215,216,210,1);
    -moz-box-shadow: 5px 5px 1px 0px rgba(215,216,210,1);
    box-shadow: 5px 5px 1px 0px rgba(215,216,210,1);
}

.row.faq h4 {
    color: #ff6600 ;

}

.row.faq p {
    font-size: 95%;
/*    margin: 0 32px 10px;*/
}







.rates.quadroremuneratorio .row.primeiralinha > div {
    text-align:center;
}

.rates.quadroremuneratorio .row > div:first-child {
    text-align: center;
    /*min-width: 138px;*/
}

.rates.quadroremuneratorio .row > div {
    text-align: right;
}


.rates.beneficios .row > div:first-child {
    text-align: center;
}

.rates.beneficios .row > div{
    text-align: center;
}











@media only screen and (max-width: 1016px) {

}
@media only screen and (max-width: 836px) {

}

@media (min-width: 768px) {
    .row.tabelas {
        margin: 5px 15px;
    }


    .rates {
        font-size: 16px;
    }
    .rates .row > div {
        padding: 0 15px;
    }
    .rates .row > div .item {
        height: 55px;
        font-size: 14px;
    }
    .rates.tabelamaior .row > div .item {
        height: 80px;
    }
    .rates .row.head > div {
        height: 70px;
    }
    .rates .row.head span {
        font-size: 20px;
    }
    .rates .row.head .form-btn a {
        padding: 0 10px;
    }

}

@media screen and (min-device-width: 497px) and (max-device-width: 768px) {
    .rates.quadroremuneratorio {
        display: inherit;
    }

/*    .girar-celular {
        display: none !important;
        background: #f0f !important;
    }*/

}



@media only screen and (max-width: 496px) {

    /*
    .girar-celular {
        display: block;
        !*background: #1b6d85;*!
        margin: 5px 0 20px;
    }

    img.girar-celular-icon {
        max-width: 120px;
    }
    */



    .rates.quadroremuneratorio {
        display: none;
    }

    .row.tabelas {
        margin: 5px 15px;
    }

    .rates .row.primeiralinha > div .item {
        height: 40px;
    }

    .rates .row > div .item {
        font-size: 12px;
        height: 90px;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
    }
    .rates .row > div:first-child {
/*        min-width: 84px;*/
    }

    .rates.deputados-salarios .row > div .item {
        height: 40px;
    }


}











.rTable {
    display: table;
    width: 100%;
    border: 1px solid #b7ba8f !important;
    color: #253255;
}
.rTableRow {
    display: table-row;
}
.rTableHeading {
    display: table-header-group;
    background-color: #dcddbe !important;
}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 10px 10px;
    border: 1px solid #b7ba8f;
    text-align: right;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}



.rTableRow:nth-of-type(odd) {
    background: #dcddbe;

.rTableRow:nth-of-type(even) {
    background: #f7f8f2;
}
}






/* NOVAS TABELAS */

.table-vencimentos {
    background:#e9ead7;
    border-top: 1px solid #9ea74a;

}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #9ea74a;
}

.table-conteudo>tbody>tr>td,.table-conteudo>thead>tr>th {
    border: 1px solid #9ea74a;
    vertical-align: middle;
    text-align: center;
}
.table-conteudo thead {
    border-top: solid 1px #9ea74a;
    background: #DCDDBE;
}


.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #E9EAD7;
}

.table-responsive th {
    text-align: center;
}
.table-responsive tr {
    text-align: right;
}

.cifrao {
    float: left;
}



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .row.faq {
        margin: 15px 0px;
        padding: 20px 0px;
        border-radius: 0;
        box-shadow: none;

    }
    .row.tabelas {
        margin: 0px;
        padding: 0 10px;
    }
}


/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .table-vencimentos {
        font-size: 11px;
    }
    .col-md-offset-1.col-md-10.text-center {
        /* margin-left: 0; */
        padding-left: 0;
        padding-right: 0;
    }
    .table-demaiscargos th {
        word-wrap: break-word;
        max-width: 49px;
    }
    .cifrao {
        float: none;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    h1 {
        font-size: 24px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    .row.tabelas {
        margin: 0px;
    }
}




/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .row.faq {
        margin: 15px 0px;
        padding: 20px 0px;
        border-radius: 0;
        box-shadow: none;

    }
    .row.tabelas {
        margin: 0px;
        padding: 0 10px;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .col-md-offset-1.col-md-10.text-center {
        /* margin-left: 0; */
        padding-left: 0;
        padding-right: 0;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    h1 {
        font-size: 32px;
    }
    h3 {
        font-weight: 600;
        text-transform: uppercase;
        color: #ec6629;
        font-family: 'univers_47';
        font-size: 28px;
    }
    .row.tabelas {
        margin: 0px;
    }
    .col-md-offset-1.col-md-10.text-center {
        padding-left: 0;
        padding-right: 0;
    }.row.faq {
         padding: 20px 15px;
     }
}




/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }

/*    .row.faq {
        text-align: left;
        padding-bottom: 20px;
        margin: 15px 0px;
        border: none;
        padding: 20px 0px;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin: 10px 0px;
        padding: 10px 0px;
    }*/
    .row.tabelas {
        margin: 0px;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .col-md-offset-1.col-md-10.text-center {
        /* margin-left: 0; */
        padding-left: 0;
        padding-right: 0;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {


}





/* ----------- iPhone 6+ ----------- */
/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .col-md-offset-1.col-md-10.text-center {
        /* margin-left: 0; */
        padding-left: 0;
        padding-right: 0;
    }


    .row.tabelas {
        margin: 0px;
    }

}






.girar-celular {
    display: none;
}
