<!DOCTYPE html>
<html>

<head>


    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <![endif]-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/colorpicker.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/datepicker.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/lightbox.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery.jscrollpane.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery-ui.theme.css">
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/estilos.css"/>


    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Loading Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>


<div class="superior">
    <div class="brilho ">
        <div class="conteudo">
            <div class="logotipo">
                <a href="http://www.alerj.rj.gov.br/">
                    <img src="http://www.alerj.rj.gov.br/Content/imagens/logotipo.png" class="sem_altocontraste"
                         width="210" alt="Assembléia Legislativa do Estado do Rio de Janeiro"
                         title="Assembléia Legislativa do Estado do Rio de Janeiro">
                    <img src="http://www.alerj.rj.gov.br/Content/imagens/logotipo_altocontraste.png" width="210"
                         class="altocontraste" alt="Assembléia Legislativa do Estado do Rio de Janeiro"
                         title="Assembléia Legislativa do Estado do Rio de Janeiro">
                </a>
            </div>

            <div class="coluna pull-right">
                <div>

                </div>
                <div class="redes_sociais">
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://instagram.com/instalerj/" title="Instagram">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_36.png" width="20" height="20"
                                 alt="Instagram" title="Instagram"></a>
                    </div>

                    <div class="logotipo_redes">
                        <a target="_blank" href="https://www.facebook.com/assembleiaRJ" title="Facebook">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_06.png" width="20" height="20"
                                 alt="Facebook" title="Facebook"></a>
                    </div>
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://plus.google.com/u/0/+alerj/posts" title="Google Mais">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_07.png" width="20" height="20"
                                 alt="Google Mais" title="Google Mais"></a>
                    </div>
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://twitter.com/alerj" title="Twitter">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_08.png" width="20" height="20"
                                 alt="Twitter" title="Twitter"></a>
                    </div>
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://www.youtube.com/user/dcsalerj" title="Youtube">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_09.png" width="20" height="20"
                                 alt="Youtube" title="Youtube"></a>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<div class="base_menu">
    <a href="javascript:;" class="quadrado"></a>
    <div class="menu_movel">
        <div class="controle">
            <div class="menu_select">
                <div class="descricao">INÍCIO</div>
                <div class="icone Expandir">
                    <a href="javascript:;" title="Expandir Menu">
                        <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_21.png" width="40" height="34"
                             alt="Expandir Menu" title="Expandir Menu" border="0"></a>
                </div>
                <div class="icone Recuar" style="display: none;">
                    <a href="javascript:;" title="Recolher Menu">
                        <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_22.png" width="40" height="34"
                             alt="Recolher Menu" title="Recolher Menu" border="0"></a>
                </div>
            </div>
            <div class="posicao_menu_movel" style="display: none;">
                <div class="fundo_submovel">
                    <ul>
                        <li><a href="/" id="lkbInicioMovel">Início</a></li>

                        <li class="pai">
                            <a target="" href="javascript:;" class="titulo" title="ALERJ">Alerj <span
                                    class="caret"></span></a>

                            <div class="submenu_movel">
                                <ul>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/ComoFunciona"
                                           title="Como Funciona">Como Funciona</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/MesaDiretora"
                                           title="Mesa Diretora">Mesa Diretora</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/Historia" title="História">História</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/VisitaGuiada"
                                           title="Visita Guiada">Visita Guiada</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/TourVirtual"
                                           title="Tour Virtual">Tour Virtual</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/Biblioteca"
                                           title="Biblioteca">Biblioteca</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li><a href="http://local.legislaqui.com/about" target="" class="titulo">Como Funciona?</a></li>

                        <li class="pai">
                            <a target="" href="javascript:;" class="titulo" title="Ideia Legislativa">Ideia Legislativa
                                <span class="caret"></span></a>

                            <div class="submenu_movel">
                                <ul>
                                    <li><a target="" href="http://local.legislaqui.com/proposals/create">Proponha uma
                                        ideia legislativa logando ou registrando-se aqui</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://local.legislaqui.com/terms">Termos de Uso</a></li>
                                </ul>
                            </div>
                        </li>


                        <li><a href="/contact" class="titulo " title="Contato">Contato</a></li>


                        <!-- Authentication Links -->

                        <li>
                            <a href="http://local.legislaqui.com/login" class="titulo" title="Login | Registro">Login |
                                Registro</a></li>


                    </ul>
                </div>
                <div class="detalhe"></div>
            </div>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li><a class="ativo" href="/" id="lkbInicio">INÍCIO</a></li>

            <li class="pai">
                <a href="/about" target="" class="titulo">Como Funciona?</a>
            </li>

            <li class="pai">
                <a href="#" class="titulo" title="Ideia Legislativa">Ideia Legislativa <span class="caret"></span></a>

                <div class="submenu" style="display: none;">
                    <ul>
                        <li>
                            <div><a href="http://local.legislaqui.com/proposals/create">Proponha uma ideia legislativa
                                logando ou registrando-se aqui</a></div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <div><a href="http://local.legislaqui.com/terms">Termos de Uso</a></div>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- relationship commissions -->
            <li class="pai"><a href="/committee" class="titulo " title="Comissões">Nossas comissões</a></li>
            <li class="pai"><a href="/terms" class="titulo " title="Comissões">Termos de uso</a></li>
            <li class="pai"><a href="/contact" class="titulo " title="Contato">Contato</a></li>

            <!-- Authentication Links -->

            <li class="pai">
                <a href="http://local.legislaqui.com/login" class="titulo" title="Login | Registro">Login | Registro</a>
            </li>
        </ul>
    </div>
</div>


<div class="fundo transparencia">

    <div class="container-full titulo-portal text-center">
        <h1>Portal da Transparência</h1>
    </div>

    <div class="container">
        <div class="row  text-center">
            <div class="col-md-12 text-center">
                <h2>Deputados</h2>

            </div>
            <div class="col-md-offset-2 col-md-8 text-center">
                <div class="">
                    <div class="box-content">
                        <h3>Salários</h3>
                        <p></p>

                        <!--<img class="tag-icon" src="images/icones_0003.png">-->

                        <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            2016
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body">
                                        <ul class=" ">
                                            <li class=""><a href="http://local.transparencia.com/section/faq">Janeiro <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/pedido">Fevereiro <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/ato">Março <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/lei">Abril <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/mapa">Maio <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Junho <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Julho <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Agosto <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Setembro <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Novembro <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Dezembro <i class="btn btn-default  fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="btn btn-default fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            2015
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body">
                                        <ul class=" ">
                                            <li class=""><a href="http://local.transparencia.com/section/faq">Janeiro <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/pedido">Fevereiro <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/ato">Março <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/lei">Abril <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/mapa">Maio <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Junho <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Julho <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Agosto <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Setembro <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Novembro <i class="fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                            <li class=""><a href="http://local.transparencia.com/section/excecoes">Dezembro <i class="btn btn-default  fa fa-file-pdf-o" aria-hidden="true">pdf </i> <i class="btn btn-default fa fa-file-excel-o" aria-hidden="true">excel</i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            2014
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            2013
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            2012
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading6">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            2011
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading7">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            2010
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading8">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                            2009
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading9">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                            2008
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading10">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                            2007
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                           aria-expanded="true" aria-controls="collapse1">
                                            2016
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="heading1">
                                    <div class="panel-body">

                                        <ul class="itens-transparencia col-md-offset-2  col-md-8">
                                            <li class="btn"><a href="http://local.transparencia.com/section/faq">Janeiro</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/pedido">Fevereiro</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/ato">Março</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/lei">Abril</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/mapa">Maio</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/excecoes">Junho</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/excecoes">Julho</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/excecoes">Agosto</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/excecoes">Setembro</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/excecoes">Novembro</a></li>
                                            <li class="btn"><a href="http://local.transparencia.com/section/excecoes">Dezembro</a></li>
                                        </ul>



                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            2015
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading2">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            2014
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading3">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            2013
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading4">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            2012
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading5">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading6">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            2011
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading6">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading7">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            2010
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading7">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading8">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                            2009
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse8" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading8">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading9">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                            2008
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse9" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading9">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading10">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                            2007
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse10" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading10">
                                    <div class="panel-body">
                                        <p>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo
                                            conteudo<BR>conteudo conteudo conteudo<BR>conteudo conteudo conteudo<BR>conteudo
                                            conteudo conteudo<BR></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>