<!DOCTYPE html>
<html>

<head>


    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <![endif]-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/colorpicker.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/datepicker.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/lightbox.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery.jscrollpane.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery-ui.theme.css">
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/estilos.css"/>


    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Loading Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="../../css/tabelas.css">

</head>

<body>


<div class="superior">
    <div class="brilho ">
        <div class="conteudo">
            <div class="logotipo">
                <a href="http://www.alerj.rj.gov.br/">
                    <img src="http://www.alerj.rj.gov.br/Content/imagens/logotipo.png" class="sem_altocontraste"
                         width="210" alt="Assembléia Legislativa do Estado do Rio de Janeiro"
                         title="Assembléia Legislativa do Estado do Rio de Janeiro">
                    <img src="http://www.alerj.rj.gov.br/Content/imagens/logotipo_altocontraste.png" width="210"
                         class="altocontraste" alt="Assembléia Legislativa do Estado do Rio de Janeiro"
                         title="Assembléia Legislativa do Estado do Rio de Janeiro">
                </a>
            </div>

            <div class="coluna pull-right">
                <div>

                </div>
                <div class="redes_sociais">
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://instagram.com/instalerj/" title="Instagram">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_36.png" width="20" height="20"
                                 alt="Instagram" title="Instagram"></a>
                    </div>

                    <div class="logotipo_redes">
                        <a target="_blank" href="https://www.facebook.com/assembleiaRJ" title="Facebook">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_06.png" width="20" height="20"
                                 alt="Facebook" title="Facebook"></a>
                    </div>
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://plus.google.com/u/0/+alerj/posts" title="Google Mais">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_07.png" width="20" height="20"
                                 alt="Google Mais" title="Google Mais"></a>
                    </div>
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://twitter.com/alerj" title="Twitter">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_08.png" width="20" height="20"
                                 alt="Twitter" title="Twitter"></a>
                    </div>
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://www.youtube.com/user/dcsalerj" title="Youtube">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_09.png" width="20" height="20"
                                 alt="Youtube" title="Youtube"></a>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<div class="base_menu">
    <a href="javascript:;" class="quadrado"></a>
    <div class="menu_movel">
        <div class="controle">
            <div class="menu_select">
                <div class="descricao">INÍCIO</div>
                <div class="icone Expandir">
                    <a href="javascript:;" title="Expandir Menu">
                        <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_21.png" width="40" height="34"
                             alt="Expandir Menu" title="Expandir Menu" border="0"></a>
                </div>
                <div class="icone Recuar" style="display: none;">
                    <a href="javascript:;" title="Recolher Menu">
                        <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_22.png" width="40" height="34"
                             alt="Recolher Menu" title="Recolher Menu" border="0"></a>
                </div>
            </div>
            <div class="posicao_menu_movel" style="display: none;">
                <div class="fundo_submovel">
                    <ul>
                        <li><a href="/" id="lkbInicioMovel">Início</a></li>

                        <li class="pai">
                            <a target="" href="javascript:;" class="titulo" title="ALERJ">Alerj <span
                                    class="caret"></span></a>

                            <div class="submenu_movel">
                                <ul>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/ComoFunciona"
                                           title="Como Funciona">Como Funciona</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/MesaDiretora"
                                           title="Mesa Diretora">Mesa Diretora</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/Historia" title="História">História</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/VisitaGuiada"
                                           title="Visita Guiada">Visita Guiada</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/TourVirtual"
                                           title="Tour Virtual">Tour Virtual</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/Biblioteca"
                                           title="Biblioteca">Biblioteca</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li><a href="http://local.legislaqui.com/about" target="" class="titulo">Como Funciona?</a></li>

                        <li class="pai">
                            <a target="" href="javascript:;" class="titulo" title="Ideia Legislativa">Ideia Legislativa
                                <span class="caret"></span></a>

                            <div class="submenu_movel">
                                <ul>
                                    <li><a target="" href="http://local.legislaqui.com/proposals/create">Proponha uma
                                        ideia legislativa logando ou registrando-se aqui</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://local.legislaqui.com/terms">Termos de Uso</a></li>
                                </ul>
                            </div>
                        </li>


                        <li><a href="/contact" class="titulo " title="Contato">Contato</a></li>


                        <!-- Authentication Links -->

                        <li>
                            <a href="http://local.legislaqui.com/login" class="titulo" title="Login | Registro">Login |
                                Registro</a></li>


                    </ul>
                </div>
                <div class="detalhe"></div>
            </div>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li><a class="ativo" href="/" id="lkbInicio">INÍCIO</a></li>

            <li class="pai">
                <a href="/about" target="" class="titulo">Como Funciona?</a>
            </li>

            <li class="pai">
                <a href="#" class="titulo" title="Ideia Legislativa">Ideia Legislativa <span class="caret"></span></a>

                <div class="submenu" style="display: none;">
                    <ul>
                        <li>
                            <div><a href="http://local.legislaqui.com/proposals/create">Proponha uma ideia legislativa
                                logando ou registrando-se aqui</a></div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <div><a href="http://local.legislaqui.com/terms">Termos de Uso</a></div>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- relationship commissions -->
            <li class="pai"><a href="/committee" class="titulo " title="Comissões">Nossas comissões</a></li>
            <li class="pai"><a href="/terms" class="titulo " title="Comissões">Termos de uso</a></li>
            <li class="pai"><a href="/contact" class="titulo " title="Contato">Contato</a></li>

            <!-- Authentication Links -->

            <li class="pai">
                <a href="http://local.legislaqui.com/login" class="titulo" title="Login | Registro">Login | Registro</a>
            </li>
        </ul>
    </div>
</div>


<div class="fundo transparencia">

    <div class="container-full titulo-portal text-center">
        <h1>Portal da Transparência</h1>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 text-center">
                <h2>Perguntas Frequentes</h2>
            </div>
            <div class="col-md-offset-2 col-md-8 text-center">
                <div class="box ">
                    <div class="box-content">
                        <h3 class="tag-title">A Lei na Integra</h3>

                        <div class="row tabelas perguntas">
                            <div class="rates">

                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="item">

                                            <p>ATO N/MO/N° 581/2012</p>
                                            <p>Ementa: DISCIPLINA PROCEDIMENTO DE ACESSO À INFORMAÇÃO.</p>
                                            <p>
                                                A MESA DIRETORA DA ASSEMBLÉIA LEGISLATIVA DO ESTADO DO RIO DE JANEIRO, no uso de
                                                suas atribuições legais RESOLVE:</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="item">
                                            <p>
                                                Art. 1º - Qualquer Solicitação de Informação, cujo fundamento seja o artigo 5º,
                                                caput, inciso XXXIII, da Constituição da República e da Lei nº 12.527/11, poderá
                                                ser formulada por meio:</p>
                                            <p>
                                                - escrito, utilizando-se o Protocolo-Geral da Assembleia Legislativa;</p>
                                            <p>
                                                - telefônico, utilizando-se o serviço "Alô ALERJ";</p>
                                            <p>
                                                - eletrônico, utilizando-se o sítio da Assembleia Legislativa na rede mundial de
                                                computadores;</p>
                                            <p>
                                                - presencial, utilizando-se a Comissão de Defesa da Pessoa Portadora de
                                                Deficiência, se o Requerente for portador de deficiência.</p>
                                            <p>
                                                Parágrafo único - O Requerente da informação deverá informar:</p>
                                            <p>
                                                - se for pessoa natural, seu nome completo, CPF e a data de seu nascimento;</p>
                                            <p>
                                                - se for pessoa jurídica, a razão social e o número de seu CNPJ.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="item">
                                            <p>
                                                Art. 2º - O Procurador-Geral, o Procurador-decano ou outro Procurador por aquele
                                                designado, examinará a admissibilidade da Solicitação de Informação.</p>
                                            <p>
                                                Parágrafo Único - Se o parecer jurídico, mencionado no artigo 2º, concluir pela
                                                inadmissibilidade da Solicitação de Informação, a Subdiretoria-Geral de
                                                Comunicação Social publicará na rede mundial de computadores o indeferimento;</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="item">
                                            <p>
                                                Art. 3º - A Subdiretoria-Geral de Comunicação anotará a Solicitação de
                                                Informação e remeterá a Diretoria-Geral para distribuir ao órgão competente para
                                                informar.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="item">
                                            <p>
                                                Art. 4º - Instruída a Solicitação de Informação, a Diretoria-Geral remetê-la-á
                                                ao Procurador-Geral, ao Procurador-decano ou a outro Procurador por aquele
                                                designado, que examinará a constitucionalidade da prestação das informações.
                                            </p>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="item">
                                            <p>
                                                Art. 5º - Competirá a Subdiretoria-Geral de Comunicação divulgar, sempre por
                                                meio da rede mundial de computadores, a informação solicitada.</p>
                                            <p>
                                                Parágrafo único - A Subdiretoria-Geral de Informática deverá adaptar os sistemas
                                                de informática da Assembleia Legislativa às disposições deste Ato Normativo.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="item">
                                            <p>
                                                Art. 6º - Este Ato entra em vigor na data de sua publicação.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="item">
                                            <p>
                                                Rio de Janeiro, 21 de maio de 2012.
                                            </p>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="item">
                                            <ul>
                                                <li>DEPUTADO <b>PAULO MELO</b> PRESIDENTE</li>
                                                <li>DEPUTADO <b>EDSON ALBERTASSI</b> 1º VICE-PRESIDENTE</li>
                                                <li>DEPUTADO <b>GILBERTO PALMARES</b> 2º VICE-PRESIDENTE </li>
                                                <li>DEPUTADO <b>PAULO RAMOS</b> 3º VICE-PRESIDENTE</li>
                                                <li>DEPUTADO <b>ROBERTO HENRIQUE</b> 4º VICE-PRESIDENTE </li>
                                                <li>DEPUTADO <b>WAGNER MONTES</b> 1º SECRETÁRIO</li>
                                                <li>DEPUTADA <b>GRAÇA MATOS</b> 2ª SECRETÁRIO</li>
                                                <li>DEPUTADO <b>GERSON BERGHER</b> 3º SECRETÁRIO </li>
                                                <li>DEPUTADO <b>DR. JOSÉ LUIZ NANCI</b> 4º SECRETÁRIA</li>
                                                <li>DEPUTADO <b>SAMUEL MALAFAIA</b> 1º SUPLENTE </li>
                                                <li>DEPUTADO<b> BEBETO TETRA</b> 2º SUPLENTE</li>
                                                <li>DEPUTADO <b>ALEXANDRE CORREA</b> 3º SUPLENTE</li>
                                                <li>DEPUTADO <b>GUSTAVO TUTUCA</b> 4º SUPLENTE</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
