<!DOCTYPE html>
<html>

<head>


    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <![endif]-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/colorpicker.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/datepicker.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/lightbox.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery.jscrollpane.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery-ui.theme.css">
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css"
          href="http://legislaqui.antoniocarlosribeiro.com/www.alerj.rj.gov.br/estilos.css"/>


    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Loading Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="../../css/tabelas.css">

</head>

<body>


<div class="superior">
    <div class="brilho ">
        <div class="conteudo">
            <div class="logotipo">
                <a href="http://www.alerj.rj.gov.br/">
                    <img src="http://www.alerj.rj.gov.br/Content/imagens/logotipo.png" class="sem_altocontraste"
                         width="210" alt="Assembléia Legislativa do Estado do Rio de Janeiro"
                         title="Assembléia Legislativa do Estado do Rio de Janeiro">
                    <img src="http://www.alerj.rj.gov.br/Content/imagens/logotipo_altocontraste.png" width="210"
                         class="altocontraste" alt="Assembléia Legislativa do Estado do Rio de Janeiro"
                         title="Assembléia Legislativa do Estado do Rio de Janeiro">
                </a>
            </div>

            <div class="coluna pull-right">
                <div>

                </div>
                <div class="redes_sociais">
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://instagram.com/instalerj/" title="Instagram">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_36.png" width="20" height="20"
                                 alt="Instagram" title="Instagram"></a>
                    </div>

                    <div class="logotipo_redes">
                        <a target="_blank" href="https://www.facebook.com/assembleiaRJ" title="Facebook">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_06.png" width="20" height="20"
                                 alt="Facebook" title="Facebook"></a>
                    </div>
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://plus.google.com/u/0/+alerj/posts" title="Google Mais">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_07.png" width="20" height="20"
                                 alt="Google Mais" title="Google Mais"></a>
                    </div>
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://twitter.com/alerj" title="Twitter">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_08.png" width="20" height="20"
                                 alt="Twitter" title="Twitter"></a>
                    </div>
                    <div class="logotipo_redes">
                        <a target="_blank" href="https://www.youtube.com/user/dcsalerj" title="Youtube">
                            <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_09.png" width="20" height="20"
                                 alt="Youtube" title="Youtube"></a>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<div class="base_menu">
    <a href="javascript:;" class="quadrado"></a>
    <div class="menu_movel">
        <div class="controle">
            <div class="menu_select">
                <div class="descricao">INÍCIO</div>
                <div class="icone Expandir">
                    <a href="javascript:;" title="Expandir Menu">
                        <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_21.png" width="40" height="34"
                             alt="Expandir Menu" title="Expandir Menu" border="0"></a>
                </div>
                <div class="icone Recuar" style="display: none;">
                    <a href="javascript:;" title="Recolher Menu">
                        <img src="http://www.alerj.rj.gov.br/Content/imagens/icone_22.png" width="40" height="34"
                             alt="Recolher Menu" title="Recolher Menu" border="0"></a>
                </div>
            </div>
            <div class="posicao_menu_movel" style="display: none;">
                <div class="fundo_submovel">
                    <ul>
                        <li><a href="/" id="lkbInicioMovel">Início</a></li>

                        <li class="pai">
                            <a target="" href="javascript:;" class="titulo" title="ALERJ">Alerj <span
                                    class="caret"></span></a>

                            <div class="submenu_movel">
                                <ul>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/ComoFunciona"
                                           title="Como Funciona">Como Funciona</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/MesaDiretora"
                                           title="Mesa Diretora">Mesa Diretora</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/Historia" title="História">História</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/VisitaGuiada"
                                           title="Visita Guiada">Visita Guiada</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/TourVirtual"
                                           title="Tour Virtual">Tour Virtual</a>
                                    </li>
                                    <li>
                                        <a target="" href="http://www.alerj.rj.gov.br/Alerj/Biblioteca"
                                           title="Biblioteca">Biblioteca</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li><a href="http://local.legislaqui.com/about" target="" class="titulo">Como Funciona?</a></li>

                        <li class="pai">
                            <a target="" href="javascript:;" class="titulo" title="Ideia Legislativa">Ideia Legislativa
                                <span class="caret"></span></a>

                            <div class="submenu_movel">
                                <ul>
                                    <li><a target="" href="http://local.legislaqui.com/proposals/create">Proponha uma
                                        ideia legislativa logando ou registrando-se aqui</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://local.legislaqui.com/terms">Termos de Uso</a></li>
                                </ul>
                            </div>
                        </li>


                        <li><a href="/contact" class="titulo " title="Contato">Contato</a></li>


                        <!-- Authentication Links -->

                        <li>
                            <a href="http://local.legislaqui.com/login" class="titulo" title="Login | Registro">Login |
                                Registro</a></li>


                    </ul>
                </div>
                <div class="detalhe"></div>
            </div>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li><a class="ativo" href="/" id="lkbInicio">INÍCIO</a></li>

            <li class="pai">
                <a href="/about" target="" class="titulo">Como Funciona?</a>
            </li>

            <li class="pai">
                <a href="#" class="titulo" title="Ideia Legislativa">Ideia Legislativa <span class="caret"></span></a>

                <div class="submenu" style="display: none;">
                    <ul>
                        <li>
                            <div><a href="http://local.legislaqui.com/proposals/create">Proponha uma ideia legislativa
                                logando ou registrando-se aqui</a></div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <div><a href="http://local.legislaqui.com/terms">Termos de Uso</a></div>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- relationship commissions -->
            <li class="pai"><a href="/committee" class="titulo " title="Comissões">Nossas comissões</a></li>
            <li class="pai"><a href="/terms" class="titulo " title="Comissões">Termos de uso</a></li>
            <li class="pai"><a href="/contact" class="titulo " title="Contato">Contato</a></li>

            <!-- Authentication Links -->

            <li class="pai">
                <a href="http://local.legislaqui.com/login" class="titulo" title="Login | Registro">Login | Registro</a>
            </li>
        </ul>
    </div>
</div>


<div class="fundo transparencia">

    <div class="container-full titulo-portal text-center">
        <h1>Portal da Transparência</h1>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 text-center">
                <h2>Perguntas Frequentes</h2>
            </div>



            <div class="col-md-offset-2 col-md-8 text-center">





                        <div class="row faq">
                            <div class="col-xs-12 ">
                                <div class="item">
                                    <h4>O que faz um deputado estadual?</h4>
                                    <p>
                                        Eleito por voto popular para mandato de quatro anos, o deputado estadual representa os interesses da sociedade. O parlamentar discute e produz leis de autoria do Legislativo e analisa e aperfeiçoa mensagens enviadas pelo Executivo e pelo Judiciário, com impacto direto na vida das pessoas. O deputado estadual também aprova o orçamento do Governo e fiscaliza as atividades do Executivo, acompanhando ações e políticas públicas, e vota as contas do Executivo após análise do Tribunal de Contas do Estado, órgão auxiliar do Legislativo. O parlamento fluminense exerce, também, importante papel na mediação de conflitos e negociações entre cidadãos, sindicatos e organizações com o Estado.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        Quantos deputados estaduais existem na Alerj?
                                    </h4>
                                    <p>
                                        A Assembleia Legislativa do Estado do Rio de Janeiro (Alerj) tem 70 deputados ao todo, quantidade proporcional ao tamanho do eleitorado do Estado. São Paulo e Minas Gerais, por exemplo, com populações superiores, têm, respectivamente, 94 e 77 deputados.</p>
                                    <p>
                                        <a href="//www.alerj.rj.gov.br/Deputados/QuemSao" target="_blank">Consulte a lista com informações dos deputados aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        Quanto recebe um deputado estadual?
                                    </h4>
                                    <p>
                                        Os salários dos deputados estaduais são fixados por lei de iniciativa da Assembleia Legislativa, limitados a 75% dos salários dos deputados federais, conforme determina o artigo 27 da Constituição Federal. (Atualmente, o valor bruto é de R$ 25.322,25)</p>
                                    <p>
                                        <a href="http://www2.alerj.rj.gov.br/leideacesso/spic/arquivo/Remuneracoes.pdf" target="_blank">Saiba o valor aqui. </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        Além do salário, quais são os benefícios que os deputados estaduais do Rio de Janeiro têm direito?
                                    </h4>
                                    <p>
                                        Diferentemente de outras Casas Legislativas, os deputados estaduais do Rio de Janeiro cortaram vários benefícios pessoais. Eles não têm direito a verba indenizatória, pagamento de jetons por sessão extraordinária, auxílio-paletó, aposentadoria especial, auxílio-educação, cota de selos. Os únicos benefícios extra-salários dos deputados estaduais fluminenses são:</p>
                                    <p><strong>CARRO OFICIAL</strong> – A Alerj decidiu, em 6 de dezembro de 2016, acabar com os carros oficiais a partir de dezembro de 2018. Até lá, a frota em uso não será renovada. Em 2019, os veículos serão doados ao Estado. É a primeira Casa Legislativa a adotar a medida.</p>
                                    <p><strong>COTA DE COMBUSTÍVEL</strong> – Até novembro de 2016, esse valor era de R$ 2.970, mas a Mesa Diretora decidiu cortar esse valor à metade, como medida de economia.</p>
                                    <p><strong>AUXÍLIO MORADIA</strong> – (No valor de R$ 3.189,85), só é pago aos deputados que residem a mais de 150 km de distância da Alerj. Na atual legislatura, apenas 11 dos 70 parlamentares recebem.<br> <a href="//www2.alerj.rj.gov.br/leideacesso/spic/arquivo/Auxilio_Moradia.pdf" target="_blank">Saiba aqui quem são e o valor pago.</a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        Como posso acompanhar a tramitação de um projeto?
                                    </h4>
                                    <p>
                                        Você pode acompanhar qualquer projeto no item Processo Legislativo. Além disso, a Assembleia Legislativa do Rio de Janeiro dispõe de um programa de push, que, mediante cadastro prévio, encaminha um e-mail ao cidadão cadastrado a cada atualização da tramitação da matéria.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        Como consigo os nomes e telefones dos deputados estaduais?
                                    </h4>
                                    <p>
                                        <a href="http://www.alerj.rj.gov.br/Deputados/QuemSao" target="_blank">Basta clicar aqui. </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        Como participar das audiências públicas?
                                    </h4>
                                    <p>
                                        As audiências realizadas pela Assembleia Legislativa do Estado do Rio de Janeiro são abertas ao público, sem necessidade de inscrição prévia.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        As sessões plenárias são abertas ao público?
                                    </h4>
                                    <p>
                                        Sim, todas as sessões e reuniões de comissões são abertas ao público, respeitando o limite de ocupação das galerias do plenário, das salas das comissões e dos demais espaços do Parlamento. As sessões ordinárias também são transmitidas ao vivo pela TV Alerj e pela <a href="//www.agenciaradioweb.com.br/novosite4/alerj/jw.php" target="_blank"> Rádio Alerj</a>, que você pode acessar pelo site oficial da Casa. Todos os eventos legislativos geram reportagens e fotografias produzidas pela equipe de jornalistas da Comunicação da Casa e são disponibilizadas no <a href="//www.alerj.rj.gov.br/" target="_blank"> site da Assembleia</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        O que eu encontro no Diário da Assembleia?
                                    </h4>
                                    <p>
                                        O Diário da Assembleiatorna públicos todos os atos legislativos e administrativos. Por meio dele, é possível fazer pesquisas sobre temas de seu interesse e também acompanhar o dia a dia das atividades da Assembleia Legislativa, conferindo o resultado das atividades dos deputados. Acesse aqui o <a href="//www.ioerj.com.br/portal/modules/content/index.php?id=21" target="_blank"> DO do Legislativo</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        Como eu posso fazer sugestões, críticas e denúncias para a Assembleia Legislativa?
                                    </h4>
                                    <p>
                                        Você pode encaminhar sugestões, crítica e denúncias, assim como fazer pedidos de informação por meio do Alô Alerj.</p>
                                    <p>
                                        <a href="https://www.aloalerj.rj.gov.br/" target="_blank">Basta clicar aqui. </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        Como retirar cópia do Diário Oficial com a divulgação de conclusão do ensino médio na biblioteca?
                                    </h4>
                                    <p>
                                        <a href="//www.alerj.rj.gov.br/Alerj/Biblioteca" target="_blank"> Acesse informações sobre a nossa biblioteca aqui</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        O que faz a Mesa Diretora da Assembleia?
                                    </h4>
                                    <p>
                                        A Mesa Diretora da Assembleia Legislativa do Estado do Rio de Janeiro é o órgão responsável por dirigir os trabalhos da Alerj, com funções tanto legislativas como administrativas. A Mesa é composta por treze parlamentares, sendo um presidente, quatro vice-presidentes, quatro secretários e quatro vogais.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row faq">
                            <div class="col-xs-12">
                                <div class="item">
                                    <h4>
                                        Qual é a duração do mandato dos integrantes da Mesa Diretora?
                                    </h4>
                                    <p>
                                        O mandato dos integrantes da Mesa da Assembleia é de dois anos.
                                    </p>
                                </div>
                            </div>
                        </div>








            </div>
        </div>
    </div>
</div>


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
